<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}home - School Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        {% block content %}
        <!-- Content from child templates will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 School Management System</p>
    </footer>
</body>
</html>
